@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');


button {
  cursor: pointer;
  width: 5em;
  min-height: 3em;
  border: none;
  font-family: 'Comic Neue', cursive;
  font-size: 1em;
}

button {
  background: #333333;
  border-radius: 10px;
  color: #fdfcfce7;
  cursor: pointer;
  outline: none;
  border: solid 3px transparent;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0)
  ),linear-gradient(101deg, #ffffff, #1bbc9b);
  box-shadow: 4px 7px 13px 0px #000000c2, inset 3px 3px 6px 0px #4c4c4c,
    inset -4px -4px 4px 0px #292929, 2px 1000px 1px #282d34 inset;
  background-origin: border-box;
  background-clip: content-box, border-box;
}

button:hover {
  color: white;
  box-shadow: inset 4px 7px 13px 0px #000000c2,
    inset -4px -2px 13px 0px #000000c2, 4px 7px 13px 0px #000000c2;
}
button:active {
  color: white;
  box-shadow: inset 4px 7px 13px 0px #000000c2,
    inset -4px -2px 13px 0px #000000c2, inset 0px 0px 13px 0px #000000c2;
}


