.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* .choose-voice-form button{
    box-shadow: none;
} */

.choose-voice-form {
    box-shadow: -1px 1px 5px 0px #F52110, 2px 3px 18px 1px #F52110;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F39C12;
    /* height: 90%; */
    padding: 1em;
    width: 70%;
    border-radius: 1%;
}

.voice-selector-input {
    padding: .25em;
    height: 2em;
    width: 20em;
}

.voice-setting-container {
    height: 10em;
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    width: 17em;
}

.setting-label {
    margin-bottom: .5em;
}

.voice-speed-container, .voice-pitch-container {
    display: flex;
    flex-direction: column;
}

.voice-setting {
    margin: .5em 0em;
}

.play-save-container {
    display: flex;
    justify-content: space-around;
    width: 17em;
}

.save-and-play-buttons {
    background-color: white;
    box-shadow: -1px 1px 5px 0px #39015C, 2px 3px 18px 1px #39015C;
    border-radius: 15px;
}

.save-and-play-buttons:hover{
    background-color: #F52110;
    box-shadow: -1px 1px 5px 0px white, 2px 3px 18px 1px white
}

.faster-button {
    box-shadow: none;
    border-top: 6px solid #F52110;
}

.faster-button:hover{
    box-shadow: none;
    border-top: 6px solid #F52110;
    background-color: black;
    color: white;
}


.slower-button {
    box-shadow: none;
    border-bottom: 6px solid #F52110;
}

.slower-button:hover{
    box-shadow: none;
    border-bottom: 6px solid #F52110;
    background-color: black;
    color: white;
}


