.Home:after {
  content: "🏠";
  font-size: 3em;
}

.Settings:after {
  content: "⚙️";
  font-size: 3em;
}
.Help:after {
  content: "🆘";
  font-size: 3em;
}
.Bathroom:after {
  content: "🚽";
  font-size: 3em;
}
.navigation {
  width: 100%;
}
.addPhrase {
  content: "➕"
}

p {
  font-size: .7em;
}
.button-container {
  display: flex;
  justify-content: space-around;
  font-size: 1.3em;
}

.button-container button{
  background-image: linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0)
  ),linear-gradient(101deg, #f52211, #f49c11);
} 

@media all and (max-width: 600px) and (min-width: 530px) {
  .button-container {
    font-size: 1.2em;
  }
}
@media all and (max-width: 530px) and (min-width: 350px) {
  .button-container {
    font-size: 1em;
  }
}

@media all and (max-width: 350px) and (min-width: 250px) {
  .button-container {
    font-size: 0.85em;
  }
}
