.user-login-form {
    align-items: center;
    background-color: #F39C12;
    border-radius: 1%;
    box-shadow: -1px 1px 5px 0px #F52110, 2px 3px 18px 1px #F52110;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40vw;
}

.login-input {
    margin-bottom: 5px;
    padding: .25em;
    height: 2em;
    width: 20em;
    background: #282e33;
    border: none;
    color: white;
    border-radius: 15px;
    min-height: 30px;
    box-shadow: inset 4px 7px 13px 0px #00000061, inset -2px -2px 4px 0px #8f8f8f1c;
    border-bottom: 1px solid white;
}

.login-button {
    margin-top: 1em;
}