.emoji:after {
  /* content : "👍"; */
  margin: 0px !important;
  font-size: 4em;
  vertical-align: middle;
  /* display: inline !important; */
  height: 50px;
  min-width: 50px; 
}

.emoji-background {
    background: #333333;
    border-radius: 10px;
    color: #fdfcfce7;
    cursor: pointer;
    font-size: 24px;
    min-width: 5em;
    min-height: 3em;
    outline: none;
    border: solid 3px transparent;
    background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),linear-gradient(101deg, #ffffff, #1bbc9b);
    box-shadow: 4px 7px 13px 0px #000000c2, inset 3px 3px 6px 0px #4c4c4c,
      inset -4px -4px 4px 0px #292929, 2px 1000px 1px #282d34 inset;
    background-origin: border-box;
    background-clip: content-box, border-box;
    width: 50px
  }
  
  .emoji-background:hover {
    color: white;
    box-shadow: inset 4px 7px 13px 0px #000000c2,
      inset -4px -2px 13px 0px #000000c2, 4px 7px 13px 0px #000000c2;
  }
  .emoji-background:active {
    color: white;
    box-shadow: inset 4px 7px 13px 0px #000000c2,
      inset -4px -2px 13px 0px #000000c2, inset 0px 0px 13px 0px #000000c2;
  }



.hello:after {
  content: "👋"
}

.bank:after {
  content: "🏦" 
}
.morning:after {
  content: "🌅"
}

.afternoon:after {
  content: "🏙" 
}
.night:after {
  content: "🌃"
}

.yes:after {
  content: "👍"
}

.no:after {
  content: "🚫"
}
.great:after {
  content: "😀"
}
.perfect:after {
  content: "👌"
}

.card:after {
  content: "💳"
}

.thanks:after {
  content: "🙏"
}
.withdrawal:after {
  content: "💰"
}

.deposit:after {
  content: "💸"
}
.memo:after {
  content: "📝"
}
.bank-note:after {
  content: "💵"
}

.great-day:after {
  content: "😄"
}

.x-hands:after {
  content: '🙅‍♀️'
}
.party:after {
  content: '🎉'
}
.yes:after {
  content: '👍'
}
.no:after {
  content: '🚫'
}
.sup:after {
  content: '👋'
}
.yo:after {
  content: '🪀'
}
.hundred:after {
  content: '💯'
}
.rabbit:after {
  content: '🐇'
}
.joke-1:after {
  content: '🤣'
}

.joke-2:after {
  content: '🙉'
}

.dog:after {
  content: '🐶'
}
.rtj:after {
  content: '🎹'
}
.school:after {
  content: '🎒'
}
.drink:after {
  content: '🥃'
}
.peace:after {
  content: '✌️'
}
.wave:after {
  content: '👋'
}
.felicia:after {
  content: '👩'
}

.sos:after {
  content: '🆘'
}

.Greetings:after {
  content: '🤝'
}
.Common:after {
  content: '😎'
}
.Transactions:after {
  content: '💰'
}
.Goodbyes:after {
  content: '👋'
}
.Jokes:after {
  content: '😜'
}
.Joe:after {
  content: '😊'
} 
